html,body{
  width:100%;
  height:100%;
}
body{
  padding:0px;
  margin:0px;
  background: white;
  font-family: 'Dosis', sans-serif;
}

#wrapper{
  width:100%;
  height:100%;
  overflow: hidden;
}
.layer{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  /**/
  display:flex;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /**/
  transition:transform 0.2s ease;
  z-index:0;
  font-size:15vw;
  overflow: hidden;
}
#top{
  background-color: black;
  transform:translateY(-100%);
}
#bottom{
    background-color: black;
  transform:translateY(100%);
}
#right{
  background-color: rgb(250,250,250);
  transform:translateX(100%);
}
#left{
  background-color: rgb(250,250,250);
  transform:translateX(-100%);
}

#top.show{
  transform:translateY(0px);
}
#bottom.show{
  transform:translateY(0px);
}
#right.show{
  transform:translateX(0px);
}
#left.show{
  transform:translateX(0px);
}
.show{
  z-index:2;
}
.tmp{
  z-index:1;
}
#clock{
   z-index:3;
   mix-blend-mode: luminosity;
   color:orange;
}
#content{
  z-index:4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform:translateY(-100%);
}

/* Style the video: 100% width and height to cover the entire window */
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.textLayer{
  position: absolute;
  width: 100%;
  height:100%;
  display:flex;
  color:white;
  font-size:10vw;
  align-items: center;
  justify-content: center;
  line-height:12vh;
}
